# Power BI Food Delivery Analysis
This dataset and analysis were performed in Power BI. 
The exported CSV file is attached for reference.

In [2]:
import pandas as pd
df= pd.read_csv("final_food_delivery_dataset.csv")
df.head()

,order_id,user_id,restaurant_id,order_date,total_amount,restaurant_name,users.user_id,users.name,users.city,users.membership,restaurants (3).restaurant_id,restaurants (3). restaurant_name,restaurants (3). cuisine,restaurants (3). rating,RatingRange
0,5865,2835,350,20-May-23,563.57,Classic Curry House South Indian,2835,User_2835,Bangalore,Gold,350,Restaurant_350,Mexican,3.2,3.0-3.5
1,498,2119,12,02-Dec-23,989.29,Royal Foods Multicuisine,2119,User_2119,Bangalore,Regular,12,Restaurant_12,Mexican,3.4,3.0-3.5
2,1816,37,45,15-Sep-23,1209.30,Annapurna Restaurant Punjabi,37,User_37,Bangalore,Regular,45,Restaurant_45,Mexican,3.0,3.0-3.5
3,148,1975,73,06-Feb-23,607.82,Spice Mess Andhra,1975,User_1975,Bangalore,Regular,73,Restaurant_73,Mexican,3.1,3.0-3.5
4,660,59,124,15-Sep-23,1251.48,Spice Dhaba Andhra,59,User_59,Bangalore,Regular,124,Restaurant_124,Mexican,3.5,3.0-3.5